.wrapper {
    padding: 0;
}

.full-width, .post-column, .two-thirds-column {
    box-sizing: border-box;
    float: left;
    padding: 0;
    margin-bottom: 0;
}

.feature-box, .full-width {
    margin-bottom: 0;
    border: 0;
}

.feature-box.app {
    background-color: #edeef2;
    padding-bottom: 0;
    border: 0;
}

h3 {
    margin-bottom: 15px;
}

.app .row {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.00266rem;
}

#network {
    width: 100%;
    height: 600px;

}

@media all and (max-width: 900px) {
    #network {
        height: 450px;
    }
}

@media all and (max-width: 700px) {
    #network {
        height: 350px;
    }
}

@media all and (max-width: 500px) {
    #network {
        height: 300px;
    }
}